.vscode
*.code-workspace
.pytest_cache
.mypy_cache
.hypothesis
__pycache__
Digraph*
.ipynb_checkpoints
junit
test_readme.py
junit
coverage.xml
**/.coverage
dist
**/*.pyc
_build/
docs/_build
.idea/
pytype_output
htmlcov/
*.egg-info/
sandbox.py
*.so
build/
default.profraw
src/uarray/_version.py
*.pyd
# pixi environments
.pixi
*.egg-info
wheelhouse/
