variables:
  CIBW_TEST_COMMAND: "pip install -r {project}/requirements/tests.txt && pytest --pyargs uarray"
  CIBW_BUILD: cp3?-* pp3?-*
  CIBW_SKIP: cp35-* pp35-*
  CIBW_BEFORE_BUILD: "git clean -xdf && git reset --hard HEAD"

jobs:
- job: Linux
  pool:
    vmImage: 'Ubuntu-16.04'
  steps:
    - template: ci/azure-steps.yml
- job: MacOS
  pool:
    vmImage: 'macOS-10.15'
  steps:
    - template: ci/azure-steps.yml
- job: Windows
  pool:
    vmImage: 'vs2017-win2016'
  steps:
    - template: ci/azure-steps.yml
- job: Docs_Linting_Coverage
  pool:
    vmImage: 'Ubuntu-16.04'
  steps:
    - template: ci/azure-doc-lint-cov.yml
- job: SciPy_FFT_Linux
  pool:
    vmImage: 'ubuntu-16.04'
  steps:
    - template: ci/azure-test-scipy-fft.yml
- job: clang_format
  pool:
    vmImage: 'ubuntu-16.04'
  steps:
    - template: ci/azure-run-clang-format.yml


trigger:
  branches:
    include:
    - master
  tags:
    include:
    - '*'

pr:
- master
