pool:
  vmImage: "Ubuntu 16.04"

steps:
  - script: |
      echo "##vso[task.prependpath]$CONDA/bin"
      conda env create --yes -f ./environment.yml
    displayName: Prepare conda

  - script: |
      source activate uarray
      pip install -e .[all]
    displayName: Install package

  - script: |
      source activate uarray
      pytest
    displayName: Run tests

  - task: PublishTestResults@2
    condition: always()
    inputs:
      testResultsFiles: "**/test-*.xml"
      testRunTitle: "Publish test results"

  - task: PublishCodeCoverageResults@1
    inputs:
      codeCoverageTool: Cobertura
      summaryFileLocation: "$(System.DefaultWorkingDirectory)/**/coverage.xml"
      reportDirectory: "$(System.DefaultWorkingDirectory)/**/htmlcov"
